:root {
  --color-background: #090e19;
  --color-text-header: #f8fafc;
  --color-text-body: #94a3b8;
  --color-text-highlight: #06b6d4;
  --border-color: #253144;
}

* {
  color-scheme: dark;
}

@import "Global.scss";
@import "Util.scss";
@import "Heading.scss";
@import "Introduction.scss";
@import "Projects.scss";
@import "Navbar.scss";
@import "Codebox.scss";
@import "Footer.scss";
