// Layout Colors
$body-bg: #1c2128;
$body-secondary-bg: #22272e;
$body-text: #adbac7;
$border-bg: #444c56;
$border-secondary-bg: #373e47;
$navbar-bg: #2d333b;
$navbar-text: rgba(205, 218, 229, 0.5);

// Primary Colors
$color-info: #61afef;
$color-danger: #e06b74;
$color-success: #98c379;
$color-warning: #e5c07b;
$color-secondary: #768390;
$color-info: #61afef;
$color-purple: #c678dd;
$color-link: #61afef;

// Font Sizes
$font-family: "Share Tech Mono", monospace;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.1;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 1.1;

$theme-colors: (
  "primary": $color-info,
  "success": $color-success,
  "danger": $color-danger,
  "warning": $color-warning,
);

body {
  font-family: $font-family;
  background-color: $body-secondary-bg;
  color: $body-text;
  padding-top: 0rem !important;
}

img {
  border-radius: 0.5rem;
}

h1 {
  color: #fff;
  font-size: $h1-font-size;
}

h2 {
  color: #fff;
  font-size: $h2-font-size;
}

h3 {
  color: #fff;
  font-size: $h3-font-size;
}

h4 {
  color: #fff;
  font-size: $h4-font-size;
}

h5 {
  color: #fff;
  font-size: $h5-font-size;
}

h6 {
  color: #fff;
  font-size: $h6-font-size;
}

.text-xs {
  font-size: 0.7rem;
}

.text-sm {
  font-size: 0.8rem;
}

.text-regular {
  font-size: 1rem;
}

.text-alt {
  font-size: $h6-font-size;
}

.text-md {
  font-size: $h4-font-size;
}

.text-lg {
  font-size: $h1-font-size * 2.1;
}

ul {
  list-style: square;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link;
    text-decoration: underline;
  }
}

// Navbar

.navbar {
  margin-bottom: 0.75rem;
  padding: 0.25rem 1.5rem;
  background-color: $navbar-bg;
  // background-color: rgba(45, 51, 59, 0.98);
  color: $navbar-text;
  border-bottom: $border-secondary-bg 1px solid;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav > li,
.navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right !important;
}

@media (max-width: 991px) {
  .navbar-dark .navbar-nav .nav-link {
    padding-left: 0.6rem;
  }
  body {
    padding-top: 12rem;
  }
}

// Skills Badge

.skills-badge {
  align-items: center;
  border: $border-secondary-bg 1px solid;
  border-radius: 0.5rem;
  margin-top: 1.25rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-top: 0.75rem;
  overflow: hidden;

  &:hover {
    border: $border-bg 1px solid;
  }

  .skills-text {
    padding-left: 3rem;
    font-size: 0.65rem;
  }

  i {
    position: absolute;
    margin-right: 1.25rem;
    margin-top: 0.3rem;
    overflow: hidden;
  }
}

// Page Containers

.tooltip-inner {
  background-color: $border-secondary-bg;
  font-family: $font-family;
}

.footer {
  color: $color-secondary;
  line-height: 0.25rem;
  padding-top: 1rem;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.footer-line {
  color: $border-bg;
  padding-bottom: 0.1rem;
}

.content-section {
  margin-top: 2rem;
  &:last-of-type {
    margin-bottom: 3rem;
  }
}

.page-content {
  padding-bottom: 1.5rem;
}

.content-image {
  margin-bottom: 2rem !important;
  margin-top: 0 !important;
}

.jumbotron {
  height: 100vh;
  // background-image: url("https://wallpaperaccess.com/full/1093941.jpg");
  background-size: cover;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.container-flex {
  &:first-of-type {
    background-color: $body-bg;
  }
}

.language-list {
  &:not(:first-child) {
    padding-left: 1rem;
  }

  &:not(:last-child) {
    border-right: $border-secondary-bg 1px solid;
  }

  color: $navbar-text;
  padding-right: 1rem;
}

.social-media-icons {
  margin-top: 1.5rem;
}

.flex {
  display: flex;
}

// Experience Tree
.experience-tree-trunk {
  width: 0.25rem;
  opacity: 0.25;
  border-radius: 9999px;
  background-color: $border-secondary-bg;
  margin-left: 1.5rem;
  max-width: 0.25rem;
  min-width: 0.25rem;
}

.experience-tree-node {
  margin-left: -0.47rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.experience-tree-dot {
  position: absolute !important;
  border-radius: 9999px;
  position: relative;
  opacity: 0.75;
  width: 0.75rem;
  min-width: 0.75rem;
  min-height: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  margin-top: 0.4rem;
}

.experience-container {
  margin-left: 1.5rem;
}

// Animations

@media (prefers-reduced-motion: no-preference) {
  .content-fadein {
    animation-duration: 0.8s;
    animation-name: content-fadein;
    animation-fill-mode: both;
  }
}

@keyframes content-fadein {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Text Colors

.text-logo-node {
  color: #90c53f;
}

.text-logo-react {
  color: #61dafb;
}

.text-logo-html {
  color: #dd4b25;
}

.text-logo-java {
  color: #e32c2d;
}

.text-logo-linkedin {
  color: #0a66c2;
}

.text-white {
  color: #fff;
}

.text-purple {
  color: $color-purple;
}

.bg-black {
  background-color: #333 !important;
}

.bg-logo-discord {
  background-color: #5865f2 !important;
}

.bg-logo-instagram {
  background-color: #e1306c !important;
}

.color-body {
  color: $body-text;
}

a {
  &.color-body {
    &:hover {
      color: $body-text;
    }
  }
}

.social-media-icon {
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 9999px;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.highlight {
  font-family: $font-family;
  background-color: $border-secondary-bg;
  color: $color-warning;
  padding: 0.2rem;
}

.cursor-pointer {
  cursor: pointer;
}

// Scroll Down Indicator
#scroll-down-indicator {
  // animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
  cursor: pointer;
}

@keyframes bounce {
  50% {
    transform: translateY(-45%);
  }
}
