.codebox {
  border: 2px solid var(--border-color);
  background-color: #0f172a;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 14px;
  margin-bottom: 1rem;

  .filename {
    text-align: center;
  }

  .codebox-title {
    color: #64748b;
    border-bottom: var(--border-color) 1px solid;
    margin-bottom: 0.5rem;
    padding-bottom: 0.2rem;
  }

  code {
    font-size: 13px;
    font-family: "Hack", "Courier New", Courier, monospace;
  }

  .token {
    &.gra {
      color: #7f848e;
    }
    &.gol {
      color: #d18c49;
    }
    &.red {
      color: #d46c69;
    }
    &.gre {
      color: #98c379;
    }
    &.whi {
      color: #abb2bf;
    }
    &.blu {
      color: #57afe3;
    }
    &.yel {
      color: #e5c07b;
    }
    &.mag {
      color: #bb78d2;
    }
  }
}

@media (min-width: 768px) {
  .codebox {
    margin-top: 3.25rem;
  }
}

@media (max-width: 767px) {
  .codebox {
    margin-right: -2rem;
    overflow-x: hidden;
  }

  .codebox-wrapper {
    overflow-x: hidden;
  }
}

.wc-button {
  text-align: center;
  background-color: #64748b;
  border-radius: 50%;
  margin-right: 0.25rem;
  padding: 0 0.35rem;
  margin-top: 0.21rem;
  color: var(--color-text-header);
  float: left;
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.wc-red:hover {
  background-color: #d46c69;
}

.wc-yellow:hover {
  background-color: #e5c07b;
}

.wc-green:hover {
  background-color: #98c379;
}
