footer {
  font-size: 0.93rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  color: #475569;

  .social-media {
    flex-direction: row;

    .social-media-icon {
      text-decoration: none;
      color: #475569;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
      &:hover {
        color: var(--color-text-header) !important;
      }
    }
  }
}
