#navbar {
  background-color: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--border-color);
  padding: 0.4rem;
}

.navbar-toggler {
  border: none;
  color: #cbd5e1;
  .navbar-toggler-icon {
    background-image: none;
    color: #cbd5e1;
  }
}

.nav-link-icon {
  font-size: 1.5rem !important;
}

.nav-link {
  &:hover {
    text-decoration: none !important;
  }
}

.navbar-brand {
  color: var(--color-text-header) !important;
  font-weight: 600 !important;
  &:hover {
    text-decoration: none !important;
  }
}

.navbar-nav {
  .nav-link {
    color: #cbd5e1 !important;
    &:hover {
      color: var(--color-text-header) !important;
    }
  }
}
