.project-card {
  background-color: #1e293b;
  border: 1px solid var(--border-color);
  padding: 0rem;
  height: 15rem;
  position: relative;

  p {
    margin-bottom: 0.4rem;
  }
}

.project-name {
  color: var(--color-text-header);
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.project-image {
  border-radius: 0.5rem;
  border: 2px solid var(--border-color) !important;
}

.project-icon {
  color: var(--color-text-header);
  font-size: 1.1rem;
  margin-right: 0.4rem;
  vertical-align: middle;
}

.project-tags-list {
  vertical-align: middle;
}

.project-button {
  margin-top: 1rem;
  border: 1px solid var(--color-text-body);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: var(--color-text-header);
  &:hover {
    i {
      color: var(--color-background);
    }
    background-color: var(--color-text-header);
    color: var(--color-background);
  }
  text-decoration: none;
}

.project-page {
  p {
    font-size: 1.125rem;
  }
}

.project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: white;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.project-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  display: block;
}

.project-description {
  color: #e6e7e9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  margin: 0;
  line-height: 1.2;
  height: 2.5em;
  width: 100%;
}

.project-btn-primary {
  border-radius: 0.25rem;
  font-weight: 500;
  margin-top: 0.75rem;
  background-image: linear-gradient(to top right, var(--gradient-stops));
  --gradient-from: #06b6d4;
  --gradient-to: #3b82f6;
  --gradient-stops: var(--gradient-from), #0ea5e9, var(--gradient-to);
  padding: 0.6rem 0.75rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: #fff;
  transition: background-image 1.5s ease;
  text-decoration: none;

  &:hover {
    background-image: linear-gradient(to top left, var(--gradient-stops));
    --gradient-from: #06b6d4;
    --gradient-to: #3b82f6;
    --gradient-stops: var(--gradient-from), #0ea5e9, var(--gradient-to);
    color: #fff;
    text-decoration: none;
    transition: background-image 1.5s ease;
  }
}
